<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Untitled Custom SSG</title>  
</head>
<body>
{{ range . }}
<div>
    <h1>{{ .Title}}</h1>
    <p>{{ .Content }}</p>
</div>
{{end}}

</body>
</html>
